
@media (max-width: 992px) {

	/* .Container > .Grid > .Grid-item{
		padding-left: 1rem;
		padding-right: 1rem;
	} */
}

.Nav {
	display: block;
	padding-top: 0px;
}

.Nav ul {
	margin-bottom: 0;
}

.Nav ul li.Nav-item .Nav-subnav {
	margin-bottom: 0;
}

/* Cabezal y Breadcrumb */
.Header-parent {
    display: inline-block;
    margin-left: 1.5em;
    font-weight: 400;
    top: -1px;
    position: relative;
    border-left: 1px solid #ccc;
    padding-left: 1.5em;
}

.Breadcrumb {
    background-color: #fff;
    font-size: .875em;
    padding: 0.675em 0;
}

.Breadcrumb a {
    text-decoration: none;
}

.Breadcrumb a:hover {
    text-decoration: underline;
}

.Breadcrumb ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.Breadcrumb ul li {
    list-style: none;
    display: inline-block;
    margin-left: 12px;
}

.Breadcrumb ul li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.Breadcrumb ul li:first-child:before {
		display: none;
}

.Breadcrumb ul li:before {
    padding-right: 12px;
    color: #555;
		content: "\00bb";
}


/* Accesos en Inicio */
@media screen and (min-width: 992px) {
	.Box--listadoAccesos .Box-gridList.Grid--rowSize3>.Grid-item {
    width: 33.33333%!important;
	}
}

.Box--listadoAccesos .Box-gridList li {
	margin-bottom: 1.5rem;
}

.Box-gridList a:focus {
	text-decoration: underline;
}

.Box--listadoAccesos .Flag {
	display: flex;
	width: 100%;
}

.Box--listadoAccesos .Flag .Flag-image {
	padding-right: .75rem;
}

.Box--listadoAccesos .Flag .Flag-image > img {
    width: 60px;
    border-radius: 4px;
}

.Box--listadoAccesos .Flag .Flag-body {
    display: flex;
    width: 100%;
    align-items: center;
}

.Box--listadoAccesos .Box-title {
	display: block;
	line-height: 1.25;
	font-weight: 600;
	word-wrap: break-word;  
	font-size: 1.25em;
	margin-bottom: 0.125em;
}




/*** --tags radio buttons ---***/
/*

.Form-options--tags .Form-option:first-child{margin-top: -.25rem;}
.Form-options--tags .Form-option{width: auto; padding-left: 0; margin-left: 0;}
.Form-options--tags .Form-option span{width: auto; padding: .5rem 1rem; border-radius: .125rem; margin-left: 0; background-color: transparent; color: #003DA5; border: 1px solid #003DA5; }
.Form-options--tags .Form-option span:hover{cursor: pointer;}
.Form-options--tags .Form-option input[type="radio"]{
position: absolute;
opacity: 0;
pointer-events: none;}

.Form-options--tags .Form-option input:checked + span{color: #003DA5;  border: 1px solid #EEF2FC; background-color: #EEF2FC; }
*/
/* .inline-options label{display: inline-block;} */