.tool-contextual-menu{

    position: absolute;
    border: 1px solid $gray-border;
    box-shadow: $dropdown-shadow;
    width: auto;
   // max-width: 10rem;
   // min-width: 10rem;
    display: none;
    z-index: 1000;
    background: $white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
/*
    &.menu-size--big{

        max-width: 18rem;
        //min-width: 16rem;

    }
*/
    .tool-contextual-menu-wrap{


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: .5rem ;

        a{
            
            //padding: .25rem .75rem;
            padding: .5rem .75rem;
            text-align: left;
            color: $black;
            display: flex;
            align-items: center;
            font-weight: 400!important;

            &:hover{

                background-color: #f3f3f3;

            }

            .Icon{

                width: 1.25rem;
                height: 1.25rem;

            }

            .Icon + span{display: inline-block; margin-left: .5rem; white-space: nowrap;}


        }

        hr{

            border-top: 1px solid #eee;
            width: 100%;
            margin: .5rem 0;
            height: 1px;

        }

    }




    

}


.link-tool-contextual-menu{

    position: relative;

    span.Icon{

        font-size: 1rem;

    }

}