.tool-contextual-menu{

    position: absolute;
    border: 1px solid $gray-border;
    box-shadow: $dropdown-shadow;
    width: auto;
    max-width: 8rem;
    min-width: 6rem;
    display: none;
    z-index: 1000;
    background: $white;

    .tool-contextual-menu-wrap{


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: .5rem ;

        a{
            
            padding: .25rem .75rem;

        }

    }

    

    &.down{

        //transform: translateY(2.5rem);

    }

    &.up{

        //transform: translateY(-1rem);

    }



}


.link-tool-contextual-menu{

    position: relative;

}