$Form-widget-max-width: 28em;

/**
 * Clases disponibles:
 *
 * .Form--tipo (aplicar sobre <form>)
 * .Form-widget
 *    .Form-group--disabled
 *    .Form-group--aligned
 *    .Form-group--error
 *
**/

.Form--tipo{

    .Form-group{

        margin-bottom: .125em;
        padding-bottom: .75em;
        padding-top: .75em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-inline: 0;

        @include sm(down) {

            flex-direction: column;
            //padding-block: 1rem;
            padding-inline: 0;

        }

        p{

          padding: 0;

        }

        .Form-label-wrap{


            .Form-label{

                padding: .75em;
                margin: 0;
                display: block;
                text-align: right;
                color: $black;
                font-size: 1em;

                @include sm(down) {

                    text-align: left;
                    padding-left: 0;
                    padding-bottom: .3em;
                    padding-top: 0;
                    padding-right: 0;
                    

                }

            }

        }

        .Form-object-wrap{

            padding-right: .75em;
            max-width: $Form-widget-max-width;
            //width: 100%;
            flex-grow: 1;

            @include sm(down) {

                width: 100%;
                padding-right: 0;
                max-width: 100%;

            }

            .Form-label{

                display: block;
                padding: .75em .75em .3rem 0;
                text-align: left;
                color: $black;
                font-size: 1em;
    
                @include sm(down) {
    
                    padding-top: 0;
    
                }
    
            }



        }

        .Form-options {

            margin-top: .125rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .Form-option {

                display: inline-flex;
                flex-wrap: nowrap;
                align-items: flex-start;
                margin-bottom: 0;
                min-height: 44px;
                padding-bottom: .5rem;
                padding-top: .625rem;
                text-align: left;

                > * + * {
                    margin-left: .5em;
                }

                [type="radio"],
                [type="checkbox"] {

                  margin: .25em 0 0 0;
                  width: 1rem;
                  height: 1rem;

                  &:hover{cursor: pointer;}

                }

                span{

                    &:hover{
                        cursor: pointer;
                    }

                    span.Form-hint{display: block;}

                }

            }

            &--tags{

                .Form-option{

                    width: auto;
                    padding-left: 0;
                    margin-left: 0;

                    &:first-child{
                      margin-top: -.25rem;
                    }

                    span{

                        width: auto;
                        padding: .5rem 1rem;
                        border-radius: $button-radius;
                        margin-left: 0;
                        background-color: transparent; 
                        color: $blue; 
                        border: 1px solid $blue; 

                        &:hover{

                          cursor: pointer;
                          background: $light-blue;
                          text-decoration: underline;

                        }

                    }

                    input[type="radio"]{

                        position: absolute;
                        opacity: 0;
                        pointer-events: none;

                        &:checked{

                            + span{

                              color: $blue;  
                              border: 1px solid $light-blue; 
                              background-color: $light-blue;

                            }

                        }

                        &:focus + span {

                            border-color: $focus-color !important;
                            outline: none;
                            box-shadow: inset 0 1px 2px rgba(255, 190, 70, 0.075), 0 0 0 0.2em rgba(255, 190, 70, 0.3);

                        }

                    }

                }

            }

          }



        .Form-grid {

            width: auto;
            max-width: calc($Form-widget-max-width + 1em);
            margin-inline: -.5em;



            > .Grid-item{
                padding-inline: .5em;
            }
            
        }

        .Form-widget{

            display: block;
            border-radius: $field-radius;
            border: 1px solid $gray-border;
            font-family: inherit;
            padding: .75em .5em;
            font-size: 1em;
            height: 3em;
            width: 100%!important;
            background-color: #FFF;

            option{

                width: auto;

            }
    
            &:disabled{
                opacity: .35;
                background-color: #eee;
            }
    
            &:focus {
                border-color: $focus-color !important;
                outline: none;
                box-shadow: inset 0 1px 2px rgba(255, 190, 70, 0.075), 0 0 0 0.2em rgba(255, 190, 70, 0.3);
            }
    
            &[type="file"] {
                border: 1px solid transparent;
                padding-top: .6rem;
                padding-inline: 0;
            }
    
            &--read{
    
                font-weight: 600 !important;
                border: none;
                height: auto;

                > *:first-child {
                    margin-bottom: 0;
                }
                
                > p:first-child{margin-bottom: .5em;}
                
                 
                > * + * {
                 margin-bottom: 0;
                 margin-top: 1em;
                }

                @include sm(down) {
                    padding-top: 0;
                    padding-left: 0;
                }
    
            }
    
            &--medium{
    
                max-width: 16rem !important;
    
            }
    
            &--small{
    
                max-width: 8rem !important;
    
            }

            &--w-icon{

                float: left;

                + .Form-icon{

                    padding: 0.5rem 0;
                    display: inline-block;
                    margin-left: .5rem;

                    img{

                        width: 2rem;
                        height: 2rem;

                    }

                }

            }

        }

        textarea{

            min-height: 7.5em;
            max-width: 100% ;


        }

        .Form-hint {

            color: $gray-text;
            font-size: .875em;
            margin-top: .25em;
            width: 100%;
        }

        .Form-status{

            font-size: .875em;
            margin-top: .4em;
            line-height: 1.6;
            padding-left: 1.8em;
            background-repeat: no-repeat;
            background-position: left .07em;
            background-size: 1.4em;

            &--error{

                color: $Alert-color-danger-red;
                background-image: url(../assets/icons/alert-danger.svg);

            }

            &--warning{

                color: $Alert-color-warning;
                background-image: url(../assets/icons/alert-warning.svg);

            }

            &--ok{

                color: $Alert-color-success;
                background-image: url(../assets/icons/icon-ok-circle.svg);

            }

            &--question{

                color: $Alert-color-default;
                background-image: url(../assets/icons/icon-help-circle.svg);

            }

        }


        &--alert{

            border-radius: 3px;
            border: 1px solid;
            margin-top: .75em;
            margin-bottom: .75em;
            position: relative;

            @include sm(down) {
                margin-left: -.75em;
                margin-right: -.75em;
                padding-left: .75em;
                padding-right: .75em;
                width: calc(100% + 1.5em);

            }

         

        }

        &--error{

            background-color: $Alert-background-danger;
            border-color: lighten($Alert-border-danger, 40%);

          
            .Form-widget {
              border-color: $Alert-border-danger !important;
            }

        }

        &--warning{

            background-color: $Alert-background-warning;
            border-color: lighten($Alert-border-warning, 40%);

            .Form-widget {
              border-color: $Alert-border-warning !important;
            }

        }

        &--aligned{

            padding-left: 35%;

        }


    }





    .Form-fieldset, fieldset{

        border-color: $gray-border;
        padding: 1.25em;
        margin: 0;
        margin-bottom: 2.5rem;

        @include sm(down) {
            border: 0;
            padding: 0;
            margin-bottom: 2rem;
        }


        .Form-legend, legend{

            font-size: 1.125rem;
            line-height: 1.25;
            padding-left: .75rem;
            padding-right: .75rem;

            @include sm(down) {
    
                position: relative;
                overflow: hidden;
                padding-left: 0;
                width: 100%;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: .4em;
                padding-right: 0;
            
                > * {
                  display: inline-block;
                  background-color: transparent;
                  position: relative;
                  z-index: 2;
                  padding-right: 0;
                }
            
                &:before{content: none }

            }

            

        }




        p{

            padding: 0 1rem;

        }

        + a{margin-top: 1rem; display: block;}


    }


    >.Form-fieldset,  >fieldset{


        >legend{

            font-size: 1.35rem;
            line-height: 1.125;
            
        }

        fieldset{

            legend{

                font-size: 1.125rem;
                line-height: 1.25;

            }
 
            margin-bottom: 0;
            margin-top: 1.75rem;

            + .Form-group{

                margin-top: 1.5rem;

                @include sm(down) {

                    margin-top: 1rem;

                }

            }


        }

        .Table--tipo{

            margin-top: 1.75rem;
            margin-bottom: 0;

        }


        @include sm(down) { 

            fieldset{

                background:  $gray-4;
                padding: 0 0 1rem 0;
                margin-top: 1rem;

                legend{

                    background: $gray-4;
                    padding-top: 1.25rem;
                    padding-left: 1rem;
                    padding-right: 1rem;

                }

                .Form-group{

                    padding-inline: 1rem;
                }

                fieldset{

                   margin: 0;
                   padding: 0;

                }

            }

        }

        

    }




    .Form-note {
        text-align: right;
        font-size: .85em;
        margin-bottom: 0;
        margin-top: 0;
        display: block;

        @include sm(down) {

            text-align: left;
            padding-bottom: 1rem;

        }

    }


    &.Form--stacked{

        .Form-group{

            flex-direction: column;

            .Form-label-wrap, .Form-object-wrap{

                width: 100%;
                max-width: 100%;
                padding-inline: .75rem;


                @include sm(down) {

                    padding-inline: 0;

                }
                
            }

            .Form-label{

                width: 100%;
                display: block;
                text-align: left;
                padding: 0;

            }

            .Form-widget {

                display: block;
                margin-top: .25em;
                max-width: 100%;

            }


        }

        &--hidden-fieldset{

            fieldset, .Form-fieldset{

                padding: 0;
                border: 0;

                .Form-legend, legend{

                    position: relative;
                    overflow: hidden;
                    padding-left: 0;
                    width: 100%;
                    font-weight: 600;
                    margin-bottom: .4em;
                    padding-right: 0;
                
                    > * {
                      display: inline-block;
                      background-color: transparent;
                      position: relative;
                      z-index: 2;
                      padding-right: 0;
                    }
                
                    &:before{content: none }

                }

                .Form-group{

                    .Form-label-wrap, .Form-object-wrap{

                        padding-inline: 0;

                    }

                    &--alert{

                        margin-left: -0.75em;
                        margin-right: -0.75em;
                        padding-left: 0.75em;
                        padding-right: 0.75em;
                        width: calc(100% + 1.5em);

                    }

                }

            }

        }

    }


    .Table--tipo{

        

        tbody{

            td{

                vertical-align: middle;

                &.Form-group{

                    display: table-cell;
                    padding: .875em;
                    width: auto;

                    .Form-options{

                        align-items: center;

                        .Form-option{

                            display: block;
                            margin: 0;

                            span{

                                &.u-hideVisually{width: 1px;}

                            }

                        }

                    }

                    @include md(down){

                        padding: .75rem;
                        width: 100%

                    }


                    &--alert{

                        margin-inline: 0;
                        border: none;

                    }

                }

            }

        }

    }


}




.Form-actions {
    display: flex;
  
    > :last-child {
      justify-self: flex-end;
    }
  
    @include md {
      justify-content: space-between;
      align-items: center;
  
      .Button + .Button {
        margin-left: 1rem;
      }
    }
  
    @include md(down) {
      flex-direction: column;
      text-align: center;
  
      > *:first-child {
        order: 2;
        margin-top: 1.5rem;
      }
  
      > *:last-child {
        order: 1;
      }
  
      .Button + .Button {
        margin-top: 1rem;
      }
  
      .Button {
        display: block;
        width: 100%;
      }
    }
  }


$label-wrap-width: 18em;
$label-padding-offset: .25em;



fieldset {


    .Form-group {

       
        .Form-label-wrap {width:  $label-wrap-width}
        //.Form-object-wrap {width: calc(100% - $label-wrap-width);}

        @include lg(down) {
        
            .Form-label-wrap {
                width: calc( $label-wrap-width - 2em);
                //min-width: calc( $label-wrap-width - 1em);
            }
            //.Form-object-wrap {width: calc(100% - $label-wrap-width - 1em);}
        
        }

        @include md(down) {

            .Form-label-wrap {
                width: calc( $label-wrap-width - 3em);
                //min-width: calc( $label-wrap-width - 2em);
            }
            //.Form-object-wrap {width: calc(100% - $label-wrap-width - 2em);}

        }

        @include sm(down) {

            .Form-label-wrap {width: 100%;}
            //.Form-object-wrap {width: 100%;}

        }

    }

    fieldset {

        .Form-group {

            .Form-label-wrap {width: calc( $label-wrap-width - $label-padding-offset - 1em)}

            @include lg(down) {

                .Form-label-wrap {width: calc( $label-wrap-width - $label-padding-offset - 2em)}

            }

            @include md(down) {

                .Form-label-wrap {width: calc( $label-wrap-width - $label-padding-offset - 3em)}

            }

    
        }

        fieldset{

            .Form-group {

                .Form-label-wrap {width:  calc( $label-wrap-width - calc( 2 * $label-padding-offset) - 2em)}
                
                
                @include lg(down) {

                    .Form-label-wrap {width:  calc( $label-wrap-width - calc( 2 * $label-padding-offset) - 3em)}

                }

                @include md(down) {

                    .Form-label-wrap {width:  calc( $label-wrap-width - calc( 2 * $label-padding-offset) - 4em)}

                }

            }

            fieldset{

                .Form-group {

                    .Form-label-wrap {width:  calc( $label-wrap-width - calc( 3 * $label-padding-offset) - 3em)}

                    @include lg(down) {

                        .Form-label-wrap {width: calc( $label-wrap-width - calc( 3 * $label-padding-offset) - 4em)}
    
                    }
    
                    @include md(down) {
    
                        .Form-label-wrap {width: calc( $label-wrap-width - calc( 3 * $label-padding-offset) - 5em)}
    
                    }
                    

                }

            }


        }

    }

}

